<blog_config>
    <include_dir>
        <item>cpp</item>
        <item>Qt</item>
        <item>system</item>
        <item>leetcode_algorithm</item>
        <item>linux</item>
        <item>python</item>
        <item>other</item>
        <item>apue</item>
        <item>unp</item>
        <item>windows</item>
        <item>java</item>
        <item>mysql</item>
    </include_dir>
    <img>
        <img_src_dir>/home/breap/Pictures</img_src_dir>
        <img_src_prefix>_</img_src_prefix>
        <img_src_suffix>.png</img_src_suffix>
    </img>
    <regex>
        <delete_ori_img_regex>_.*</delete_ori_img_regex>
    </regex>
</blog_config>